html {
  font-family: sans-serif;
}

header {
  background-color: #cccccc;
}

a {
  text-decoration: none;
}

nav a {
  color: #0074d7;
  text-decoration: none;
}

nav a:hover {
  background-color: #0074d7;
  color: #fff;
}
.efefef {
  background-color: #efefef;
}

.e2e2e2 {
  background-color: #e2e2e2;
}

.cccccc {
  background-color: #cccccc;
}


@media only screen and (min-width: 24em) {
 li {
  display: inline-block;
  }


  nav, h1{
    text-align: center;
  }

}

@media only screen and (min-width: 35em) {
h1 {
  text-align: left;
}

nav {
  text-align: left;
}

}

@media only screen and (min-width: 38em) {
  nav {
    text-align: right;
  }

}
