html {
  font-family: 'Droid Sans', sans-serif;
}

a {
  text-decoration: none;
}

nav a {
  color: #0074d7;
  text-decoration: none;
}

nav a:hover {
  background-color: #0074d7;
  color: #fff;
}
.efefef {
  background-color: #efefef;
}

.e2e2e2 {
  background-color: #e2e2e2;
}

.cccccc {
  background-color: #cccccc;
}

.231f20 {
  background-color: #231f20;
}

.dark {
  background-color: #231f20;
}

.bucket {
  color: #ffffff;
}

.white {
  color: #ffffff;
}

@media only screen and (min-width: 24em) {
 li {
  display: inline-block;
  }
  .nav-top {
    text-align: right;
  }

}

@media only screen and (min-width: 35em) {
h1 {
  text-align: left;
}

}

@media only screen and (min-width: 38em) {
  .logo {
    text-align: left;
  }

.bucket {
  text-align: center;
}


}
